
.account-details{
    border-radius: 15px;
    background: #F7C244;
    border-color: #fbbc05; 
    color:#6647B6;
}

.account-details .details{
    flex-wrap: wrap;
}

.account-details .details span{
    font-size: 15px;
    font-weight: 600;
    overflow-wrap: break-word;
}

i.icon, i.icons {
    font-size: 1.4em;
}