
.card{
    font-weight: 600;
    border-radius: 15px;
    background: rgb(49, 54, 72);
}

.card .social-details .social-icons .ui.divider>.icon {
    color: #ccc;
}

.card .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before{
    background: #ccc;
}

