
.rewards{
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background: #6041B0;
    justify-content: space-between;
    color:#fbbc05;
}

.contests-joined p,.prize-earned p,.current-rank p {
    font-size: 11.4px;
    color: #fff;
    font-weight: 600;
    text-align: left;
}
