
.modal {
    height:auto;
    top:auto;
    left:auto;
    bottom:auto;
    right:auto;
}

.ui.header {
    margin: 1em 0 1em;
    color: #597381;
}

.withdraw-money .icon{
    font-size: 1.2em;
    color: #6541B4;
}

.ui.button.withdraw-money-button {
    background: #6541B4;
    color: #fff;
}

.balance{
    color: #6541B4;
    font-size: 18px;
}

.money-icon{
    font-size: 29px;
    padding-left: 5px;
    padding-bottom: 4px;
}
