
.btn-primary {
    font-weight: 600;
    border-color: #6647b6;
}
.engage .cards{
    font-weight: 600;
    border-radius: 15px;
    background: rgb(49, 54, 72);
}

.cards .social-details .social-icons .ui.divider>.icon {
    color: #ccc;
}

.cards .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before{
    background: #ccc;
}

.react-multi-carousel-item{
    padding-left: 3px;
    padding-right: 3px;
}


.react-multiple-carousel__arrow:hover,.react-multiple-carousel__arrow--left,.react-multiple-carousel__arrow--right{
    margin-right: 6px;
    background: transparent;
    outline: none;
}
