
.ui.form .field .prompt.label {
    white-space: normal;
    background: #fff!important;
    border: 1px solid #e0b4b4!important;
    color: #9f3a38!important;
    text-transform: capitalize;
}

.redirect-to-signup a,.forgot-password a {
    text-decoration: underline;
}