.snackbar {
  visibility: hidden;
  min-width: 280px;
  /* background-color: #333; */
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  right: 5px;
  font-size: 1.2rem;
  background: linear-gradient(to right, #F7C244, #6647B6);
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation:  0.5s, fadeout 0s 2.5s;
 animation: fadein 0.5s, fadeout 0s 2.5s;
 top: 20px;
}

.close_icon {
	color: #fff;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 20px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 20px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 20px; opacity: 1;}
  to {top: 0; opacity: 0;}
}