
html, body, #root,.main-layout {
    height: 100%;
}

.text-danger{
    color:#9f3a38 !important;
}

.main-layout{
    background: #181b26;
}

.active-link {
    background: #ccc;
}

.break {
    padding: 10px;
    font-size: 25px;
}

.modal {
    height:auto;
    top:auto;
    left:auto;
    bottom:auto;
    right:auto;
}
